@use "../../custom/_variables" as *;

.card-f {
    .card-f-item {
        a {
            text-decoration: none;
            display: block;
            position: relative;

            .card-f-img {
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                    transition: transform 0.5s;
                }
            }

            .card-f-desc {
                background: linear-gradient(0deg, rgba(15, 52, 97, 0.99) 0%, rgba(255, 255, 255, 0.11) 30%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                padding: 15px 10px;
                z-index: 1;
                color: var(--bs-txt-white-fixed);

                h3 {
                    font-weight: 400;
                    font-size: 0.9rem;
                    margin-bottom: 0;
                }

                i {
                    line-height: 0;
                    font-size: 1.3rem;
                    position: relative;
                    top: 3px;
                }
            }

            &:hover {
                .card-f-img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


