@use "../../custom/_variables" as *;

.card-a {

}
.card-a-item {
    a {
        text-decoration: none;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .card-a-img {
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            height: 250px;
            object-position: center;
            transform: scale(1);
            transition: transform .5s;
        }
    }

    .card-a-desc {
        padding: 20px 10px 5px 10px;

        h2 {
            color: var(--bs-txt-muted);
            font-weight: 800;
            font-size: clamp(1rem, 1rem + 1.2vw, 1rem) !important;
            line-height: 2rem;
            overflow: hidden;
            height: 30px;
        }

        p {
            color: var(--bs-txt-muted);
            font-size: .9rem;
            line-height: 2rem;
            overflow: hidden;
            height: 100px;
            text-align: justify;
        }
    }
}


