@use "../../custom/_variables" as *;
.content-a {
    h1, h2, h3, h4, h5, h6 {
        color: var(--bs-txt-muted);
        margin: 10px 0 5px !important;
        display: inline-block !important;
    }

    h1 {
        font-size: clamp(1.25rem, 1.05rem + 1.2vw, 2rem);
        font-weight: 950;
        line-height: 1.2;
    }

    h2 {
        font-size: clamp(1.1rem, 1rem + 1vw, 1.3rem);
        font-weight: 950;
        line-height: 1.3;
    }

    h3 {
        font-size: clamp(1rem, 0.95rem + 0.8vw, 1.2rem);
        font-weight: 900;
        line-height: 1.35;
    }

    h4 {
        font-size: clamp(0.95rem, 0.9rem + 0.6vw, 1.1rem);
        font-weight: 800;
        line-height: 1.4;
    }

    h5 {
        font-size: clamp(0.875rem, 0.85rem + 0.5vw, 1rem);
        font-weight: 700;
        line-height: 1.45;
    }

    h6 {
        font-size: clamp(0.8rem, 0.8rem + 0.3vw, 1rem);
        font-weight: 600;
        line-height: 1.5;
    }

    p {
        font-size: clamp(.875rem, .85rem + .4vw, 1rem);
        font-weight: 400;
        line-height: 2.5rem;
        margin-bottom: 0.7rem;
        text-align: justify;
        color: var(--bs-txt-muted);
    }

    strong {
        font-weight: 900;
        margin: 0 1px;
    }

    a {
        text-decoration: none;
        color: var(--bs-brandcolor-a);
        transition: color 0.3s;

        &:hover {
            color: var(--bs-brandcolor-c);
        }
    }

    hr {
        border-color: var(--bs-brandcolor-a);
        margin-bottom: 1.6rem;
    }

    blockquote {
        position: relative;
        background-color: var(--bs-sec-bg-dark);
        color: var(--bs-txt-muted);
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 15px 20px;
        text-align: justify;
        line-height: 2.5rem;
        margin-bottom: 1rem;

        &:before {
            content: "\f6b0";
            font-family: bootstrap-icons !important;
            font-size: 4rem;
            color: var(--bs-border-brand);
        }
    }

    img {
        width: 100%;
        display: block;
        margin: 10px 0;
    }

    table {
        thead {
            tr {
                background-color: var(--bs-brandcolor-a);
                white-space: nowrap;

                th {
                    font-size: 0.9rem;
                    font-weight: 400;
                    background-color: transparent;
                    color: var(--bs-txt-white-fixed);
                    border: 0;
                    padding: 11px;
                }
            }
        }

        tbody {
            tr:nth-child(even) {
                background-color: var(--bs-sec-bg-light);
                white-space: nowrap;

                td {
                    font-size: 0.9rem;
                    background-color: transparent;
                    border: 0;
                    padding: 11px;
                }
            }

            tr:nth-child(odd) {
                background-color: var(--bs-sec-bg-dark);
                white-space: nowrap;

                td {
                    font-size: 0.9rem;
                    background-color: transparent;
                    border: 0;
                    padding: 11px;
                }
            }

            tr:hover {
                background-color: var(--bs-brandcolor-c);

                td {
                    color: var(--bs-txt-white-fixed) !important;
                }
            }
        }
    }

    figure {
        position: relative;

        figcaption {
            background: linear-gradient(90deg,rgba($brandcolor-a, 1) 0%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            left: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;
            z-index: 1;
            color: var(--bs-txt-white-fixed);
            transition: opacity .5s;
            width: 70%;
        }
    }

    ul, ol {
        color: var(--bs-txt-muted);
        font-size: 0.95rem;

        li {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 991.98px) {
        blockquote {
            flex-direction: column;
            gap: 15px;
            padding: 30px 20px 40px;
        }
    }

    @media (max-width: 767.98px) {
        figure {
            figcaption{
                display:none;
            }
        }
    }
}
