@use "../../custom/_variables" as *;

.single-a {
    overflow-x: visible !important;
    border-top: solid 1px var(--bs-border-lighter);

    .single-title {
        h2 {
            font-size: clamp(1.25rem, 1.05rem + 1.2vw, 2rem);
            font-weight: 950;
            line-height: 1.3;
            color: var(--bs-txt-muted);
            margin: 30px 5px;
            display: inline-block;
        }
    }

    .single-header {
        img {
            width: 100%;
            display: block;
        }
    }

    .single-desc {
        padding: 10px 5px 0;
        font-size: .75rem;
        font-weight: 600;
        color: var(--bs-txt-gray-fixed);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        i {
            position: relative;
            top: 1px;
            font-size: 1rem;
            margin-right: 5px;
            color: var(--bs-txt-gray-fixed);
        }

        .category {

            a {
                font-size: .75rem;
                font-weight: 600;
                color: var(--bs-txt-gray-fixed);
                transition: color .3s;
                text-decoration: none;
                position: relative;
                display: inline-block;
                margin-right: 5px;

                &:hover {
                    color: var(--bs-brandcolor-c);
                }
            }
        }
    }

    .single-body{
        margin-top:15px;
    }
    
    .sidebar-sticky {
        top: 100px;
    }
}


