@use "../../custom/_variables" as *;

.hero-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: calc(100vh - 140px);
    padding: 20px 10px;

    h1 {
        color: var(--bs-txt-white-fixed);
        margin: 0;
        font-size: clamp(1rem, 1.05rem + 1.2vw, 1.5rem);
        font-weight: 950;
        line-height: 1.3;
        margin-bottom: 0;
        opacity: 0.85;
    }
}
