@use "../../custom/_variables" as *;

.hero-b {
    width: 100%;
    min-height: 230px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: clamp(1rem, 1.05rem + 1.2vw, 1.5rem);
        font-weight: 950;
        line-height: 1.4;
        color: var(--bs-txt-white-fixed);
        margin: 0;
        text-align: center;
        opacity: 0.85;
    }
}
