@use "../../custom/_variables" as *;
@use "sass:color";

.header-page-b {
    background-color: var(--bs-brandcolor-a);

    .owl-carousel {
        width: 100%;
    }

    .item {
        min-height: calc(100vh - 140px);
        background: var(--bs-sec-bg-darker);
        position: relative;

        .overlay-owl {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 5;
            background: #1B252D;
            background: linear-gradient(90deg, rgba(27, 37, 45, 1) 0%, rgba(27, 37, 45, 0.42) 50%, rgba(27, 37, 45, 1) 100%);
        }

        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            animation: image-anim-header 10s infinite;
        }

        @keyframes image-anim-header {
            0% {
                height: 100%
            }

            50% {
                height: 115%
            }

            100% {
                height: 100%
            }
        }

        .description {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            max-width: 500px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 20px;

            .contents {
                transform: translateY(-40px);
                opacity: 0;
                transition: transform 3s,opacity 1s;
                transition-duration: 3s;

                h2 {
                    margin-bottom: 25px;
                    font-weight: 950;
                    font-size: clamp(1.3rem, .6rem + 1.8vw, 2.5rem) !important;
                    transition: transform .3s;
                    color: var(--bs-txt-white-fixed);
                    position: relative;
                    display: inline-block;

                    &:before {
                        content: " ";
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background: var(--bs-txt-white-fixed);
                        transition: width 5s;
                    }
                }

                p {
                    color: var(--bs-txt-white-fixed);
                    text-align: justify;
                    margin: 3px 0 10px;
                }
            }
        }
    }

    .item.is-active {
        .description {
            .contents {
                transform: translateY(0px);
                opacity: 1;
            }

            h2 {
                &:before {
                    width: 100%;
                }
            }
        }
    }

    .item.is-inactive {
        .description {
            .contents {
                transform: translateY(-40px);
                opacity: 0;
            }

            h2 {
                &:before {
                    width: 0%;
                }
            }
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        z-index: 20;
        width: 65px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        align-items: start;

        .owl-dot {
            border: solid 1px transparent;
            border-radius: 100%;
            padding: 13px 13px 14px !important;
            line-height: 0;
            position: relative;

            span {
                width: 16px;
                height: 16px;
                display: block;
                background: var(--bs-gray-700);
                border-radius: 100%;
            }
        }
    }

    .owl-dots .owl-dot.active {
        border: solid 1px var(--bs-gray-800);
    }

    .owl-dots .owl-dot.active {
        span {
            background: var(--bs-gray-500);
        }
    }

    .scrolldown {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18.21px;
        height: 30.94px;
        border: 3px solid color-mix(in srgb, var(--bs-txt-white-fixed), transparent 40%);
        border-radius: 50px;
        z-index: 30;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 2px;
            height: 6.13px;
            background-color: color-mix(in srgb, var(--bs-txt-white-fixed), transparent 40%);
            animation: scrollDown 1.5s infinite;
        }

        @keyframes scrollDown {
            0% {
                height: 0px;
            }

            1% {
                opacity: 0;
                transform: translate(-50%, 0);
                height: 0px;
            }

            30% {
                opacity: 1;
                height: 6.13px;
            }

            99% {
                opacity: 0;
                transform: translate(-50%, 20px);
                height: 0px;
            }

            100% {
                height: 0px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .header-page-b {
        .item {
            .description {
                align-items: center;

                .contents {
                    text-align: center;
                }
            }
        }

        .owl-dots {
            top: auto;
            bottom: 15px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .scrolldown{
            display:none;
        }
    }
}